FLASK_ENV=development
SECRET_KEY=change-me
MONGO_URI=mongodb://mongodb:27017/muxi_photo
DATABASE_NAME=muxi_photo
UPLOAD_FOLDER=uploads
MAX_UPLOAD_SIZE_MB=10
SITE_NAME=泸州高中木樨映像
ADMIN_INIT_SHOW_ON_PAGE=false
